body {
    background-color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
}
#categories{
  height: 200px;
  width: 100%;

}
#budgetbar{
  height: 40px;
  border-style: solid;
  text-align: right;
}

#budget-food{
  height: 34px;
  width: 600px;
  background-color: #3A8884;
}

#budget-utility{
  height: 34px;
  width: 450px;
  background-color: #23B28D;
}

#budget-luxuries{
  height: 34px;
  width: 100px;
  background-color: #65FFD7;
}

#wrapper {
    width: 100%;
}

#datepicker {
  float: right;
}

#summary-view-selector {
  outline: #000000 solid thin;
  width: 85%;
  height: 130px;
  padding: 2em;
}

#page-wrapper {
    position: inherit;
    margin-left: 200px;
    padding: 30px 30px 0 30px;
    border-left: 1px solid #e7e7e7;
}

.navbar-inverse {
    background-color: #0C486B;
}

.navbar-brand {
    float: left;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-top-links>li>a {
    color: #DDDDDD;

}

.navbar-inverse .navbar-nav>li>a {
    color: #DDDDDD;

}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 6px;
}


.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links>li>a {
    color: #DDDDDD;
}

.navbar-top-links>li>a:hover, .navbar-top-links>li>a:focus, .navbar-top-links>.open>a {
    color: #fff;
    background-color: #0C486B;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.user-side {
    background-color: #3A8884;
    color: white;
}

.sidebar {
    z-index: 1;
    position: absolute;
    width: 200px;
    margin-top: 51px;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    margin-left: auto;
}

.graphs{
  padding-top: 30px;
  padding-bottom: 10px;
}

.pie{
  padding-top: 30px;
    padding-bottom: 10px;
}
