@import "bourbon";

@import url(//fonts.googleapis.com/css?family=Oswald:400);
body {
  /*background: #222428;*/
  font-family: "Oswald", sans-serif;
}
.chart {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 60%;
  left: 80%;
  margin: -225px 0 0 -225px;
}
.doughnutTip {
  position: absolute;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0,0,0,.8);
  color: #ddd;
  font-size: 17px;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  pointer-events: none;
  &::after {
      position: absolute;
      left: 50%;
      bottom: -6px;
      content: "";
      height: 0;
      margin: 0 0 0 -6px;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 6px solid rgba(0,0,0,.7);
      line-height: 0;
  }
}
.doughnutSummary {
  position: absolute;
  top: 55%;
  left: 78%;
  color: #0C1013;
  text-align: center;
  text-shadow: 0 -1px 0 #111;
  cursor: default;
}
.doughnutSummaryTitle {
  position: absolute;
  top: 40%;
  width: 100%;
  right: 60%;
  margin-top: -27%;
  font-size: 22px;
  letter-spacing: .06em;
}
.doughnutSummaryNumber {
  position: absolute;
  top: 40%;
  width: 100%;
  right: 60%;
  margin-top: -15%;
  font-size: 55px;
}
.chart path:hover { opacity: 0.65; }

.stacked-bar-graph {
  width: 100%;
  height: 38px;
 // background: #eee;
  color:#414042;
}

.budgetbar {
  display: inline-block;
  height:100%;
  box-sizing: border-box;
  float: left;
//  color: #fff;
  font-weight: bold;
  font-family: arial, sans-serif;
  padding: 10px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: black;
}
  #bar-1 {
    background: #b3ffd9;
    border-left: solid 1px;
    border-color: black;
  }

  #bar-2 {
    background: #ff99bb;
  }

  #bar-3 {
    background: #ffdd99;
  }
  #bar-4 {
    background: #f2f2f2;
    border-right: solid 1px;
    border-color: black;
    text-align: right;
  }

  body {
  padding: 10px 20px;
  background: #eeeeee;
  font-family: sans-serif;
  text-align: center;
  color: #777;
}

#main {
  margin: 0 auto;
}

.note {
  font-size: .8em;
}

button {
  background: #f7f7f7;
  border-radius: 4px;
  font-size: 1.2em;
  padding: 5px 8px 5px 8px;
}

.tool {
  width: 200px;
  margin: 0 auto;
}

svg {
  .axis {
    font-size: 8px;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 5px;
  }

  .tick > line {
    display: none;
  }

  rect.zoom-panel {
    cursor: move;
    fill: none;
    pointer-events: all;
  }

  .dot {
    stroke-width: 2px;
    fill: #fff;
  }
}
