<!DOCTYPE html>
<html lang="en">
<head>

    <title>Celery | Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/family.css" rel="stylesheet">
    <link href="../css/history.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="../js/jquery.tablesorter.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function()
        {
            $("#history-table").tablesorter( {

                cancelSelection: true,
                sortList: [0,0],
            });
        }
        );

        function filterFunction() {
          // Declare variables
          var input, filter, table, tr, td, i;
          input = document.getElementById("filterInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("history-table");
          tr = table.getElementsByTagName("tr");

          // Loop through all table rows, and hide those who don't match the search query
          for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            found = false;
            for (j = 0; j < td.length; j++) {
                if (td[j]) {
                    if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                        found = true;
                        break;
                    }
                }
            }
            if (found) {
                tr[i].style.display = "";
            }
            else {
                tr[i].style.display = "none";
            }
          }
        }
    </script>
</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="family.html">Celery</a>
        </div>

        <ul class="nav navbar-nav navbar-top-links">
            <li><a href="family.html"><i class="fa fa-home fa-fw"></i> Summary</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-top-links">
            <li><a href="record.html"><i class="fa fa-pencil-square-o fa-fw"></i> Record</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-top-links">
            <li><a href="history.html"><i class="fa fa-history fa-fw"></i> History</a></li>
        </ul>

        <!-- Top Navigation: Right Menu -->
        <ul class="nav navbar-right navbar-top-links">
            <li class="dropdown navbar-inverse">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Notification
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> Michael Jiang <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <br>
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">History</h1>
                </div>
            </div>
            <input type="text" id="filterInput" onkeyup="filterFunction()" placeholder="Search for anything">
            <table id="history-table" class="tablesorter table-fill">
                <thead>
                    <tr>
                        <th class="text-left">Date <i class="fa fa-sort fa-fww"></i></th>
                        <th class="text-left">Name <i class="fa fa-sort fa-fww"></i</th>
                        <th class="text-left">Money Spent <i class="fa fa-sort fa-fww"></i</th>
                        <th class="text-left">Item Category <i class="fa fa-sort fa-fww"></i</th>
                    </tr>
                </thead>
                <tbody class="table-hover">
                    <tr>
                        <td class="text-left">Jan 7, 2017</td>
                        <td class="text-left">Youngeon</td>
                        <td class="text-left">$30.00</td>
                        <td class="text-left">Food</td>
                    </tr>
                    <tr>
                        <td class="text-left">Jan 9, 2017</td>
                        <td class="text-left">Darren</td>
                        <td class="text-left">$340.00</td>
                        <td class="text-left">Luxury</td>
                    </tr>
                    <tr>
                        <td class="text-left">Jan 13, 2017</td>
                        <td class="text-left">Matt</td>
                        <td class="text-left">$600.00</td>
                        <td class="text-left">Luxury</td>
                    </tr>
                    <tr>
                        <td class="text-left">Jan 13, 2017</td>
                        <td class="text-left">Mike</td>
                        <td class="text-left">$650.00</td>
                        <td class="text-left">Travel</td>
                    </tr>
                    <tr>
                        <td class="text-left">Jan 13, 2017</td>
                        <td class="text-left">Youngeon</td>
                        <td class="text-left">$50.00</td>
                        <td class="text-left">Utility</td>
                    </tr>
                    <tr>
                        <td class="text-left">Jan 13, 2017</td>
                        <td class="text-left">Darren</td>
                        <td class="text-left">$1500.00</td>
                        <td class="text-left">Travel</td>
                    </tr>
                     <tr>
                        <td class="text-left">Jan 14, 2017</td>
                        <td class="text-left">Darren</td>
                        <td class="text-left">$22.00</td>
                        <td class="text-left">Food</td>
                    </tr>
                     <tr>
                        <td class="text-left">Jan 15, 2017</td>
                        <td class="text-left">Mike</td>
                        <td class="text-left">$32.00</td>
                        <td class="text-left">Luxuries</td>
                    </tr>
                    <tr>
                        <td class="text-left">Jan 15, 2017</td>
                        <td class="text-left">Youngeon</td>
                        <td class="text-left">$20,00</td>
                        <td class="text-left">Education</td>
                    </tr>
                     <tr>
                        <td class="text-left">Jan 18, 2017</td>
                        <td class="text-left">Mike</td>
                        <td class="text-left">$60.00</td>
                        <td class="text-left">Food</td>
                    </tr>

                   <tr>
                        <td class="text-left">Jan 20, 2017</td>
                        <td class="text-left">Matt</td>
                        <td class="text-left">$50.00</td>
                        <td class="text-left">Education</td>
                    </tr>
                    <tr>
                        <td class="text-left">Jan 21, 2017</td>
                        <td class="text-left">Darren</td>
                        <td class="text-left">$700.00</td>
                        <td class="text-left">Education</td>
                    </tr>
                    <tr>
                        <td class="text-left">Jan 22, 2017</td>
                        <td class="text-left">Mike</td>
                        <td class="text-left">$950.00</td>
                        <td class="text-left">Rent</td>
                    </tr>
                    <tr>
                        <td class="text-left">Jan 23, 2017</td>
                        <td class="text-left">Mike</td>
                        <td class="text-left">$80.00</td>
                        <td class="text-left">Luxuries</td>
                    </tr>
                     <tr>
                        <td class="text-left">Jan 25, 2017</td>
                        <td class="text-left">Matt</td>
                        <td class="text-left">$500.00</td>
                        <td class="text-left">Rent</td>
                    </tr>
                    <tr>
                        <td class="text-left">Jan 26, 2017</td>
                        <td class="text-left">Matt</td>
                        <td class="text-left">$160.00</td>
                        <td class="text-left">Utility</td>
                    </tr>
                    <tr>
                        <td class="text-left">Jan 28, 2017</td>
                        <td class="text-left">Youngeon</td>
                        <td class="text-left">$36.00</td>
                        <td class="text-left">Luxuries</td>
                    </tr>
                    <tr>
                        <td class="text-left">Jan 29, 2017</td>
                        <td class="text-left">Darren</td>
                        <td class="text-left">$30.00</td>
                        <td class="text-left">Utility</td>
                    </tr>
                    <tr>
                        <td class="text-left">Jan 30, 2017</td>
                        <td class="text-left">Youngeon</td>
                        <td class="text-left">$200.00</td>
                        <td class="text-left">Luxuries</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>
    </div>

</div>


<script>

</script>

<!-- jQuery -->
<script src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.tablesorter.js"></script>


<script src="../js/bootstrap.min.js"></script>

<script src="../js/family.js"></script>

</body>
</html>
