<!DOCTYPE html>
<html lang="en">
<head>

    <title>Celery | Michael </title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/Matt.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $( function() {
        $( ".datepicker" ).datepicker();
      } );
    </script>
</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="family.html">Celery</a>
        </div>

        <ul class="nav navbar-nav navbar-top-links">
          <li><a class="selected" href="family.html"><i class="fa fa-home fa-fw"></i> Summary</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-top-links">
          <li><a href="record.html"><i class="fa fa-pencil-square-o fa-fw"></i> New Transactions</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-top-links">
          <li><a href="history.html"><i class="fa fa-history fa-fw"></i> History</a></li>
        </ul>

        <!-- Top Navigation: Right Menu -->
        <ul class="nav navbar-right navbar-top-links">
            <li class="dropdown navbar-inverse">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Notification
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> Michael Jiang <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Sidebar -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                  <li>
                      <a href="family.html" class="active"><i class="fa fa-users fa-fww"></i> Family </a>
                  </li>
                    <li>
                      <a href="Mike.html" class="active"><i class="fa fa-user fa-fww"></i> Michael Jiang </a>
                  </li>
                  <li>
                      <a href="Darren.html" class="active"><i class="fa fa-user fa-fww"></i> Darren Liu</a>
                  </li>
                  <li>
                      <a href="Youngeon.html" class="active"><i class="fa fa-user fa-fww"></i> Youngeon Kim</a>
                  </li>
                  <li>
                      <a href="Matt.html" class="active user-side"><i class="fa fa-user fa-fww"></i> Matt Cheung</a>
                    </li>
                    <li>
                        <a href="#" class="active" id="add-new-user" onclick="add_new_user()"><i class="fa fa-plus fa-fww"></i> Add new user</a>
                    </li>
                </ul>

            </div>
        </div>

    <div id="myModal" class="modal">

    <div class="modal-content">
        <span class="close">&times;</span>
        First name: <br> <input type="text" name="firstname" placeholder="Sara">
        <br><br>
        Last name: <br> <input type="text" name="lastname" placeholder="Sood">
        <br><br>
        Bank Account Number: <br> <input type="text" name="BAN" placeholder="xxxxxxx0">
        <br><br>
        Monthly Budget: <br> <input type="text" name="budget" placeholder="1000">
        <br><br>
       <input type="submit" value="Submit" onclick="window.location='../templates/New_User.html'">

    </div>

    </div>

    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Summary of Matt's Expenditures</h1>
                </div>
            </div>

            <!-- ... Your content goes here ... -->
            <div class="stacked-bar-graph">
              <span class="budgetbar" id="bar-1">Already Spent: $1890.00</span>
              <span class="budgetbar" id="bar-2">Total Budget: $2500.00</span>
            </div>
            <br>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8">
                        <canvas id="myLineChart" width="200" height="100"></canvas>
                    </div>
                    <div class="col-sm-2">
                        <div id="doughnutChart" class="chart"></div>
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>
            </div>
<br>
<br>
<br>
<div class="container summary-view-selector" id="summary-view-selector">
    <div class="row">
        <div class="col-lg-4 col-sm-4">
            <p> <b>Start Date:</b> <input type="date" class="datepicker"></p>
            <p> <b>End Date:</b> &nbsp; <input type="date" class="datepicker"></p>
        </div>
        <div class="col-lg-3 col-sm-3">
            <b>Interval</b>
            <form>
                <input type="radio" name="interval"> Week <br>
                <input type="radio" name="interval"> Month <br>
                <input type="radio" name="interval"> Year <br>
            </form>
        </div>
        <div class="col-lg-5 col-sm-5">
            <b>Categories</b>
            <form>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="checkbox" name="categories"> Food <br>
                            <input type="checkbox" name="categories"> Rent <br>
                            <input type="checkbox" name="categories"> Utilities
                        </div>
                        <div class="col-sm-6">
                            <input type="checkbox" name="categories"> Travel <br>
                            <input type="checkbox" name="categories"> Education <br>
                            <input type="checkbox" name="categories"> Luxury
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
        </div>
    </div>

</div>
<script>
var data = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "Total Monthly Expenses ($1,000)",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "#3A8884",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [2.4, 1.2, 1.4, 1.5, 0.4, 2.7, 1.9],
            spanGaps: false,
        }
    ]
};
var ctx = document.getElementById("myLineChart");
var myLineChart = new Chart(ctx, {
    type: 'line',
    data: data
});
</script>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/Matt.js"></script>

</body>
</html>
