<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Celery | Transaction Records </title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/record.css" rel="stylesheet">
    <link href="../css/base.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="../js/jquery.tablesorter.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function()
        {
            $("#record-table").tablesorter( {

                cancelSelection: true,
                sortList: [0,0],
            });
        }
        );

        function filterFunction() {
          // Declare variables
          var input, filter, table, tr, td, i;
          input = document.getElementById("filterInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("record-table");
          tr = table.getElementsByTagName("tr");

          // Loop through all table rows, and hide those who don't match the search query
          for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            found = false;
            for (j = 0; j < td.length; j++) {
                if (td[j]) {
                    if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                        found = true;
                        break;
                    }
                }
            }
            if (found) {
                tr[i].style.display = "";
            }
            else {
                tr[i].style.display = "none";
            }
          }
        }
 
        function openTransact(evt, new_action) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the link that opened the tab
            document.getElementById(new_action).style.display = "block";
            evt.currentTarget.className += " active";

            // Get the element with id="defaultOpen" and click on it
            // document.getElementById("defaultOpen").click();
        }

    </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Celery</a>
        </div>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- Top Navigation: Left Menu -->
        <ul class="nav navbar-nav navbar-left navbar-top-links">
            <li><a href="family.html"><i class="fa fa-home fa-fw"></i> Summary</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-left navbar-top-links">
            <li><a class="selected" href="record.html"><i class="fa fa-pencil-square-o fa-fw"></i> New Transactions</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-left navbar-top-links">
            <li><a href="history.html"><i class="fa fa-history fa-fw"></i> History</a></li>
        </ul>

        <!-- Top Navigation: Right Menu -->
        <ul class="nav navbar-right navbar-top-links">
            <li class="dropdown navbar-inverse">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> Michael Jiang <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>


    <!-- Page Content -->
    <div id="page-wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">New Transactions</h1>
                </div>
            </div>
            <div class="tab">
                <button class="tablinks" onclick="openTransact(event, 'View')" id="defaultOpen">View Recent</button>
                <button class="tablinks" onclick="openTransact(event, 'Add')">Add New</button>
            </div>
            <div id="View" class="tabcontent">
                <input type="text" id="filterInput" onkeyup="filterFunction()" placeholder="Search for anything">
                <table id="record-table" class="tablesorter table-fill">
                    <thead>
                        <tr>
                            <th class="text-left">Date <i class="fa fa-sort fa-fww"></i></th>
                            <th class="text-left">Name <i class="fa fa-sort fa-fww"></i</th>
                            <th class="text-left">Money Spent <i class="fa fa-sort fa-fww"></i</th>
                            <th class="text-left">Item Category <i class="fa fa-sort fa-fww"></i</th>
                            <th class="text-left">Approve? <i class="fa fa-sort fa-fww"></i</th>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                        <tr>
                            <td class="text-left">Feb 25, 2017</td>
                            <td class="text-left">Mike</td>
                            <td class="text-left">$220.00</td>
                            <td class="text-left">Luxury</td>
                            <td class="text-left" ><form action=""><input type="checkbox" name="vehicle" value="approve"></form></td>
                        </tr>
                        <tr>
                            <td class="text-left">Feb 25, 2017</td>
                            <td class="text-left">Mike</td>
                            <td class="text-left">$61.00</td>
                            <td class="text-left">Food</td>
                            <td class="text-left"><form action=""><input type="checkbox" name="vehicle" value="approve"></form></td>
                        </tr>
                        <tr>
                            <td class="text-left">Feb 26, 2017</td>
                            <td class="text-left">Matt</td>
                            <td class="text-left">$270.00</td>
                            <td class="text-left">Travel</td>
                            <td class="text-left"><form action=""><input type="checkbox" name="vehicle" value="approve"></form></td>
                        </tr>
                        <tr>
                            <td class="text-left">Feb 26, 2017</td>
                            <td class="text-left">Darren</td>
                            <td class="text-left">$74.00</td>
                            <td class="text-left">Utility</td>
                            <td class="text-left"><form action=""><input type="checkbox" name="vehicle" value="approve"></form></td>
                        </tr>
                        <tr>
                            <td class="text-left">Feb 26, 2017</td>
                            <td class="text-left">Youngeon</td>
                            <td class="text-left">$22.00</td>
                            <td class="text-left">Food</td>
                            <td class="text-left"><form action=""><input type="checkbox" name="vehicle" value="approve"></form></td>
                        </tr>
                        <tr>
                            <td class="text-left">Feb 26, 2017</td>
                            <td class="text-left">Youngeon</td>
                            <td class="text-left">$17.00</td>
                            <td class="text-left">Food</td>
                            <td class="text-left"><form action=""><input type="checkbox" name="vehicle" value="approve"></form></td>
                        </tr>
                         <tr>
                            <td class="text-left">Feb 26, 2017</td>
                            <td class="text-left">Darren</td>
                            <td class="text-left">$24.00</td>
                            <td class="text-left">Utility</td>
                            <td class="text-left"><form action=""><input type="checkbox" name="vehicle" value="approve"></form></td>
                        </tr>
                         <tr>
                            <td class="text-left">Feb 27, 2017</td>
                            <td class="text-left">Matt</td>
                            <td class="text-left">$66.00</td>
                            <td class="text-left">Luxury</td>
                            <td class="text-left"><form action=""><input type="checkbox" name="vehicle" value="approve"></form></td>
                        </tr>
                        <tr>
                            <td class="text-left">Feb 27, 2017</td>
                            <td class="text-left">Mike</td>
                            <td class="text-left">$3,000</td>
                            <td class="text-left">Education</td>
                            <td class="text-left"><form action=""><input type="checkbox" name="vehicle" value="approve"></form></td>
                        </tr>
                    </tbody>
                </table>

                <br>
                <div id="approve-container">
                    <button id="approve" type="button">Approve</button>
                </div>
            </div>
            <div id="Add" class="tabcontent">
                <form id="Add">
                    <h2>Add New Transaction</h2>
                      Date: <input class="add_new_class" type="date" name="firstname" required="required"><br>
                      Name: <input class="add_new_class" type="text" name="name" required="required"><br>
                      Money Spent: <input class="add_new_class" type="text" name="amount" required="required"><br>
                      Item Category: <input class="add_new_class" type="text" name="itemname" required="required"><br>
                    <br>
                    <div id="add-container">
                        <button id="add_transaction" type="button">Add Transaction</button>
                    </div>
                </form>
            </div>
            <br>
            <br>

        </div>

    </div>
</div>


<!-- jQuery -->
<script src="js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>
</html>
